<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Lift.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <Lift.Properties.Settings>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatsLeft" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="StatsTop" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MaxTime" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxPassangers" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ElevatorCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FloorCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SpawnRate" serializeAs="String">
                <value>0.5</value>
            </setting>
        </Lift.Properties.Settings>
    </userSettings>
</configuration>
